# Advanced Python - Set 1

### Q1. You are given a list of inputs, find out which all numbers are greater than 10.

Eg:

Input: [10, 11, 30, 4]

Output: 11, 30

In [1]:
#Input data
input_list = [1, 2, 10, 3, 23, 41, 9, 2, 44, 20, 1, 2, 10, 10]

In [2]:
# Expected solution
result_list = []
for item in input_list:
    if item > 10:
        result_list.append(item)
        
print(result_list)

[23, 41, 44, 20]

In [2]:
[i for i in input_list if i > 10]

[23, 41, 44, 20]

### Q2. You are given temperature measured in degree degree celsius, convert it into degree fahrenheit.

Formula for convering ${}^{0}C$ to ${}^{0}F$ :

$Fahrenheit (Â°F) = (Celsius * 1.8) + 32 $

Eg:

Input: 40

Output: 104

In [3]:
# Input data
temp_in_degree_celsius = 40

In [4]:
# Expected solution
temp_in_f = (temp_in_degree_celsius*1.8)+32
temp_in_f

104.0

### Q3. Write a function that takes input marks out of hundred and returns a grade according to the logic below:

- Above 95: O
- 90 or Above, Less than 95: A+
- 85 or Above,Less than 90: A
- 80 or Above, Less than 85: B
- 70 or Above, Less than 80: C
- 40 or Above, Less than 70: P
- Less than 40: F

Eg:

Input: [90, 56, 70, 88]

Output: A+, P, C, A

In [5]:
# Input marks
input_marks = [60, 70, 89, 45, 23, 100, 100, 98, 39, 89, 71, 69]

In [6]:
# Expected solution
def calculate_grade(mark):
    if mark >= 95:
        return "O"
    elif mark >= 90:
        return "A+"
    elif mark >= 85:
        return "A"
    elif mark >= 80:
        return "B"
    elif mark >= 70:
        return "C"
    elif mark >= 40:
        return "P"
    else:
        return "F"
    
    
for mark in input_marks:
    print(str(mark) + " : " + calculate_grade(mark))

60 : P
70 : C
89 : A
45 : P
23 : F
100 : O
100 : O
98 : O
39 : F
89 : A
71 : C
69 : P

### Q4. Write a Python function that checks whether the given strings are palindrome or not.

string1 = "nurses run"

string2 = "good day"

Expected output:

Palindrome

Not Palindrome

In [7]:
# Expected Solution
def check_palin(string):
    string = string.replace(' ', '')
    str_len = len(string)
    for i in range((str_len//2)+1):
        if (string[i] != string[(-i-1)]):
            return "Not Palindrome"
    
    return "Palindrome"

In [8]:
print(check_palin('nurses run'))
print(check_palin('good day'))

Palindrome
Not Palindrome

### Q4. Write a function to check if a number is palindrome

**Inputs**:

101

122

303

**Outputs**:

Palindrome

Not Palindrome

Palindrome

In [9]:
def check_palin_number(number):
    reversed_number = 0
    copy_of_number = number
    while(number):
        reversed_number = reversed_number*10 + number%10
        number //= 10
    number = copy_of_number
    if number == reversed_number:
        return "Palindrome"
    else:
        return "Not Palindrome"

In [10]:
print(check_palin_number(101))
print(check_palin_number(122))
print(check_palin_number(303))

Palindrome
Not Palindrome
Palindrome

### Q4. Write a function which takes a positive integer as input and prints fibonacci numbers till that number.

Eg: 

Input: 7

Output: 1, 1, 2, 3, 5, 8, 13

In [11]:
#Expected solution

def print_fibonacci(num):
    a = 0
    b = 1
    print(b)
    for i in range(1, num):
        c = a+b
        print(c)
        a = b
        b = c

In [12]:
print_fibonacci(7)

1
1
2
3
5
8
13

### Q5. Consider the following function and the input list, show how you can pass in the arguments without mentioning the individual elements of the list.

In [13]:
# Code snippet
def calc_sum(number1, number2, number3, number4, number5):
    return number1 + number2 + number3 + number4 + number5

input_list = [19, 23, 44, 1, 33]

In [14]:
# Expected Solution
calc_sum(*input_list)

120

### Q6. Consider the following function and the input dictionary, show how to pass in the arguments without mentioning the individual elements of the list.

In [15]:
# Code snippet
def calc_sum(number1, number2, number3, number4, number5):
    return number1 + number2 + number3 + number4 + number5

input_dict = {'number1': 23, 'number2':69, 'number3':4, 'number4':3, 'number5':0}

In [16]:
# Expected Solution
calc_sum(**input_dict)

99

### Q7. Create a class to represent the bank account of a customer and include the following attributes:

- Customer name
- Account Number
- Account balance

It should also contain functions for viewing, debiting and crediting from the account balance.

Show how the class works by initializing the customer class values of your choice and demonstrate the debit and credit functions.

```py

customer_1 = Customer(name="John", account_number="090", balance=10000)
customer_1.debit(100)
customer_1.get_balance()
```

Expected output:
9900

In [17]:
# Expected Solution
class Customer:
    def __init__(self, name, account_number, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance
    def get_balance(self):
        return self.balance
    def debit(self, amount):
        self.balance -= amount
    def credit(self, amount):
        self.balance += amount

In [18]:
customer_1 = Customer(name="John", account_number="090", balance=10000)
customer_1.debit(100)
customer_1.get_balance()

9900

### Q8. Create a Student class and initialize it with name and roll number. Make methods to :
1. Display - It should display all informations of the student.
2. setAge - It should assign age to student
3. setMarks - It should assign marks to the student.

In [19]:
# Expected Solution
class Student:
    def __init__(self, name):
        self.name = name
    def setAge(self, age):
        self.age = age
    def setMarks(self, marks):
        self.marks = marks
    def get_details(self):
        print("Name of the student:" + self.name)
        print("Age of the student:" + str(self.age))
        print("Marks:" + str(self.marks))

In [20]:
student_1 = Student('Vijay')
student_1.setAge(22)
student_1.setMarks(87)
student_1.get_details()

Name of the student:Vijay
Age of the student:22
Marks:87

### Q9. Create a Time class and initialize it with hours and minutes.
1. Make a method addTime which should take two time object and add them. E.g.- (2 hour and 50 min)+(1 hr and 20 min) is (4 hr and 10 min)
2. Make a method displayTime which should print the time.
3. Make a method DisplayMinute which should display the total minutes in the Time. E.g.- (1 hr 2 min) should display 62 minute.

In [21]:
# Expected Solution

class AddTime:
    
    def addTime(self, time_1, time_2):
        time_zero = dt.datetime.strptime('00:00:00', '%H:%M:%S')
        self.time = time_1 - time_zero + time_2
    def displayTime(self):
        print(self.time.strftime('%H:%M'))
    def displayMinute(self):
        print(self.time.minute)

In [22]:
import datetime
time_1 = datetime.datetime.strptime("2:49", "%H:%M")
time_2 = datetime.datetime.strptime("4:10", "%H:%M")

add_time = AddTime()
add_time.addTime(time_1, time_2)
add_time.displayTime()
add_time.displayMinute()

NameError: name 'dt' is not defined

### Q10. Create a class Child which has attributes, Name, age and gender.

- Create another class **Student** which inherits the child class and has an attribute of grade.
- Demonstrate both classes by initializing them.

In [1]:
# Expected Solution
class Child:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    def get_details(self):
        print('Name: '+self.name)
        print('Age: '+str(self.age))
        print('Gender: '+self.gender)
        
class Student(Child):
    def __init__(self, name, age, gender, grade):
        super().__init__(name, age, gender)
        self.grade = grade
    def get_details(self):
        super().get_details()
        print('grade: '+self.grade)

In [2]:
s = Student('Ashwin', 7, "Male", "III")
s.get_details()

Name: Ashwin
Age: 7
Gender: Male
grade: III

### Q12. Add error handling capabilities for the following function.

```add_two_nums(a, b)``` is a python function which adds two ``` _positive_``` integers. 

However the function currently lacks error handling capabilities. 

Add in try, except block so that the following code runs error free.

Make sure to include handling for all the errors so that they can be properly debugged.

In [4]:
def add_two_nums(a, b):
    try:
        assert isinstance(a, int)
        assert isinstance(b, int)
    except AssertionError:
        print("Error: One of the arguments provided is not an integer")
        return
    
    result = a+b
    
    try:
        assert result >= 0
    except AssertionError:
        print("Error: The sum is negative")
        return
    
    return result

The current output of the code below is this:

```py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-32-2d9fbae21f0b> in <module>
      1 print(add_two_nums(5, 10))
----> 2 print(add_two_nums(1, 'sdf'))
      3 print(add_two_nums(5, -7))

<ipython-input-29-b282504f9e2d> in add_two_nums(a, b)
      1 def add_two_nums(a, b):
      2     assert isinstance(a, int)
----> 3     assert isinstance(b, int)
      4 
      5     result = a+b

AssertionError: 
```

In [5]:
print(add_two_nums(5, 10))
print(add_two_nums(1, 'sdf'))
print(add_two_nums(5, -7))

15
Error: One of the arguments provided is not an integer
None
Error: The sum is negative
None

### Q13. Enhance the error handling.

```get_element(arr, index)``` is a python function for getting the element from a list using the index.

However, currently the function prints all the errors as 'Error in code'.

Use multiple exceptions to handle errors and print the corresponding error message as specified in the inputs.

In [ ]:
# Expected solution
def get_element(arr, index):
    try:
        return arr[index]
    except TypeError:
        print('Wrong Input Type')
        return
    except IndexError:
        print('Indexing Error')

In [ ]:
arr = [19, 23, 44, 1, 33]

In [ ]:
get_element(arr, 2)

In [ ]:
get_element(10, 's') # Expected output: wrong input type

In [ ]:
get_element(arr, 8) # Expected output: Indexing error

## Special questions

Try attempting these questions to get a hang of building logic and getting more comfortable with using various functions of python.

### Q14. Write a function which takes a string and converts it into NATO phonetic alphabets.

Nato phonetic alphabets are code words assigned to each English alphabet so that they are phonetically distinguishable. The code for each of the alphabets are as follows:

- A : Alfa
- B : Bravo
- C : Charlie
- D : Delta
- E : Echo
- F : Foxtrot
- G : Golf
- H : Hotel
- I : India
- J : Juliett
- K : Kilo
- L : Lima
- M : Mike
- N : November
- O : Oscar
- P : Papa
- Q : Quebec
- R : Romeo
- S : Sierra
- T : Tango
- U : Uniform
- V : Victor
- W : Whiskey
- X : X-ray
- Y : Yankee
- Z : Zulu

Eg: 

Input: Hello

Output: HOTEL ECHO LIMA LIMA OSCAR

In [6]:
# Expected solution

def convert_to_nato(message):
    nato_mappings = {"A"  : "Alfa",
                    "B"  : "Bravo",
                    "C"  : "Charlie",
                    "D"  : "Delta",
                    "E"  : "Echo",
                    "F"  : "Foxtrot",
                    "G"  : "Golf",
                    "H"  : "Hotel",
                    "I"  : "India",
                    "J"  : "Juliett",
                    "K"  : "Kilo",
                    "L"  : "Lima",
                    "M"  : "Mike",
                    "N"  : "November",
                    "O"  : "Oscar",
                    "P"  : "Papa",
                    "Q"  : "Quebec",
                    "R"  : "Romeo",
                    "S"  : "Sierra",
                    "T"  : "Tango",
                    "U"  : "Uniform",
                    "V"  : "Victor",
                    "W"  : "Whiskey",
                    "X"  : "X-ray",
                    "Y"  : "Yankee",
                    "Z"  : "Zulu"}
   
    message = message.upper()
    nato_message = ""
    for character in message:
        nato_message += nato_mappings[character] + " "
    
    return nato_message

In [7]:
convert_to_nato('Hello')

'Hotel Echo Lima Lima Oscar '

### Q15. Write a function to count the number of unique items in a list.

Eg:

Input: [1, 1, 1, 2, 2, 2, 2, 2, 'a', 'a']

Output: 

1 occurs 3 times.

2 occurs 5 times.

'a' occurs 2 times.

In [ ]:
# Expected solution
def count_unique_elements(arr):
    item_count = {}
    for item in arr:
        item_count[item] = item_count.get(item, 0) + 1
    
    for item in item_count.keys():
        print(f'{item} occurs {item_count[item]} times.')

In [ ]:
count_unique_elements([1, 1, 1, 2, 2, 2, 2, 2, 'a', 'a'])