# Programming for DS - Python

## Assignment questions

### Q1. Print "Welcome to Machine Learning Plus".

In [1]:
print("Welcome to Machine Learning Plus")

Welcome to Machine Learning Plus

### Q2. Assign the string "Welcome to Machine Learning Plus" to a variable.

In [2]:
DataScience_Class=("Welcome to Machine Learning Plus")

### Q3. Find the data type of variable x

```
#Input 
x = "85"
```

In [3]:
x='85'
print(type(x))

<class 'str'>

### Q4. Create a int variable and assign str datatype to it

```
# Input
var = 5
```

In [4]:
var=5
type_casting=str(var)
type(type_casting)

str

### Q5. Round the variable upto 3 decimal places

```
#Input 
x = 85.545678
```

In [5]:
import numpy as np
x=85.545678
rounding=np.round(x,3)
rounding

85.546

### Q6. Ceil the variable x.

```
#Input 
x = 85.545678
```

In [6]:
import math
x=85.545678
ceiling=math.ceil(x)
ceiling

86

### Q7. Find the length of string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [7]:
string= "Welcome to Machine Learning Plus"
length=len(string)
length

32

### Q8. Find the 10th character of the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [8]:
string[9]

'o'

### Q9. Get all the character till 10th character of the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [9]:
string[:11]

'Welcome to '

### Q10. Get every 3rd character of the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [10]:
string[::3]

'Wceoai ai u'

### Q11. Get all the words in the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [11]:
string[:]

'Welcome to Machine Learning Plus'

### Q12. Reverse all the words in the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [12]:
string[::-1]

'sulP gninraeL enihcaM ot emocleW'

In [3]:

string = "Welcome to machine learning plus"

words = string.split(' ') 
reverse_string = ' '.join(reversed(words))
reverse_string

'plus learning machine to Welcome'

### Q13. Convert the string to title case (1st letter of every word upper case, rest of the characters lower case)

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [13]:
string.title()

'Welcome To Machine Learning Plus'

### Q14. Replace all the @ in string with a

````
#Input
string = ""I @m comfort@ble with python now""
````

In [14]:
string = "I @m comfort@ble with python now"
string.replace("@","a")

'I am comfortable with python now'

### Q15. Find the number of elements in the list

````
# Inputs
my_list = ["Learn", "python", "happily"]
````

In [15]:
my_list = ["Learn", "python", "happily"]
len(my_list)

3

### Q16. Remove the element "happily" from the given list.

````
# Inputs
my_list = ["Learn", "python", "happily"]
````

In [20]:
#method-1 using pop
my_list = ["Learn", "python", "happily"]
a=my_list.pop()
print(f"removed element is:{a}")
print(my_list)

removed element is:happily
['Learn', 'python']

In [21]:
#method-2 using remove
my_list = ["Learn", "python", "happily"]
my_list.remove("happily")
my_list

['Learn', 'python']

### Q17. Sort the given list in ascending order

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [22]:
my_list=["Bosche","Dell","Cognizant","Apple"]
my_list.sort()
my_list

['Apple', 'Bosche', 'Cognizant', 'Dell']

### Q18. Find the maximum value in the given list

````
# Input
my_list = [6,0,18,47,34]
````

In [19]:
my_list = [6,0,18,47,34]
max(my_list)

47

### Q19. Replace the 3rd element of the list with "Hp"

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [23]:
my_list=["Bosche","Dell","Cognizant","Apple"]
my_list[3]='Hp'
my_list

['Bosche', 'Dell', 'Cognizant', 'Hp']

### Q19. Copy the list 2 times and append it in the same list

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [24]:
my_list1= 2*my_list
print(f"copied list:{my_list1}")
my_list.append(my_list1)
my_list

copied list:['Bosche', 'Dell', 'Cognizant', 'Hp', 'Bosche', 'Dell', 'Cognizant', 'Hp']

['Bosche',
 'Dell',
 'Cognizant',
 'Hp',
 ['Bosche', 'Dell', 'Cognizant', 'Hp', 'Bosche', 'Dell', 'Cognizant', 'Hp']]

### Q20. Reverse the order of elements in given list

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [25]:
my_list=["Bosche","Dell","Cognizant","Apple"]
my_list[::-1]

['Apple', 'Cognizant', 'Dell', 'Bosche']

### Q21. Create a list which contains every 2nd character from all the elements of the list

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]

# Output
['Bsh', 'Dl', 'Cgiat', 'Ape']
````

In [26]:
[i.split()[0][::2] for i in my_list ]

['Bsh', 'Dl', 'Cgiat', 'Ape']

### Q22. Add a new key to a dictionary

````
# Inputs
my_dict = {'a' : 1, 'b' : 2}

Sample Dictionary : {a: 1, b: 2}


# Output
Expected Result : {a: 1, b: 2, c: 3}

````

In [27]:
my_dict = {'a' : 1, 'b' : 2}
my_dict['c']=3
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

### Q23. Check whether the last digit of a number is divisible by 3 or not.

````
# Inputs
num = 552
````

In [28]:
num = 552

last_digit= num % 10
if last_digit % 3==0:
    print(f"yes, last digit of number {num} is {last_digit} and its divisible by 3")
else:
    print(f"No, last digit of number {num} is  {last_digit} and its not divisible by 3")

No, last digit of number 552 is  2 and its not divisible by 3

In [29]:
num = 553

last_digit= num % 10
if last_digit % 3==0:
    print(f"yes, last digit of number {num} is {last_digit} and its divisible by 3")
else:
    print(f"No, last digit of number {num} is  {last_digit} and its not divisible by 3")

yes, last digit of number 553 is 3 and its divisible by 3

### Q24. Calculate the sum of all numbers from 1 to a given number num

````
# Inputs
num = 12
````

In [32]:
n = 12
sum = 0
while n >= 0:
    sum += n
    n -= 1
print("sum =", sum)

sum = 78

### Q25. Print letters in a string line by line using while loop

````
# Input
str1="Hello world"
````

In [34]:
str1="Hello world"

i=0

while i < len(str1):
    print (str1[i])
    i += 1

H
e
l
l
o

w
o
r
l
d