# Programming for DS - Python

## Assignment solutions

### Q1. Print "Welcome to Machine Learning Plus".

In [1]:
# Solution 

print("Welcome to Machine Learning Plus")

Welcome to Machine Learning Plus

### Q2. Assign the string "Welcome to Machine Learning Plus" to a variable.

In [3]:
# Solution 

variable = "Welcome to Machine Learning Plus"
variable

'Welcome to Machine Learning Plus'

### Q3. Find the data type of variable x

```
#Input 
x = "85"
```

In [4]:
# Solution

x = "85"
type(x)

str

### Q4. Create a int variable and assign str datatype to it

```
# Input
var = 5
```

In [11]:
# Solution

var = 5
var = str(var)
type(var)

str

### Q5. Round the variable upto 3 decimal places

```
#Input 
x = 85.545678
```

In [12]:
# Solution

x = 85.545678
round(x, 3)

85.546

### Q6. Ceil the variable x.

```
#Input 
x = 85.545678
```

In [16]:
# Solution

import math
x = 85.545678
math.ceil(x)

86

### Q7. Find the length of string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [17]:
# solution

string = "Welcome to Machine Learning Plus"
len(string)

32

### Q8. Find the 10th character of the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [18]:
# solution

string = "Welcome to Machine Learning Plus"
string[9]

'o'

### Q9. Get all the character till 10th character of the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [21]:
# solution

string = "Welcome to Machine Learning Plus"
string[:10]

'Welcome to'

### Q10. Get every 3rd character of the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [22]:
# solution

string = "Welcome to Machine Learning Plus"
string[::3]

'Wceoai ai u'

### Q11. Get all the words in the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [27]:
# solution

string = "Welcome to Machine Learning Plus"
string.split(" ")

['Welcome', 'to', 'Machine', 'Learning', 'Plus']

### Q12. Reverse all the words in the string.

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [30]:
# solution

string = "Welcome to machine learning plus"

words = string.split(' ') 
reverse_string = ' '.join(reversed(words))
reverse_string

'plus learning machine to Welcome'

### Q13. Convert the string to title case (1st letter of every word upper case, rest of the characters lower case)

````
#Input
string = "Welcome to Machine Learning Plus"
````

In [31]:
# solution

string = "Welcome to machine learning plus"
string.title()

'Welcome To Machine Learning Plus'

### Q14. Replace all the @ in string with a

````
#Input
string = ""I @m comfort@ble with python now""
````

In [32]:
# solution

string = "I @m comfort@ble with python now"
string.replace("@", "a")

'I am comfortable with python now'

### Q15. Find the number of elements in the list

````
# Inputs
my_list = ["Learn", "python", "happily"]
````

In [37]:
# Solution

my_list = ["Learn", "python", "happily"]
len(my_list)

3

### Q16. Remove the element "happily" from the given list.

````
# Inputs
my_list = ["Learn", "python", "happily"]
````

In [36]:
# Solution

my_list = ["Learn", "python", "happily"]
my_list.remove("happily")
my_list

['Learn', 'python']

### Q17. Sort the given list in ascending order

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [35]:
# Solution

my_list = ["Bosche","Dell","Cognizant","Apple"]
my_list.sort()
my_list

['Apple', 'Bosche', 'Cognizant', 'Dell']

### Q18. Find the maximum value in the given list

````
# Input
my_list = [6,0,18,47,34]
````

In [38]:
# Solution

my_list = [6,0,18,47,34]
print(max(my_list))

47

### Q19. Replace the 3rd element of the list with "Hp"

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [39]:
# Solution

my_list = ["Bosche","Dell","Cognizant","Apple"]
my_list[2] = "Hp"
my_list

['Bosche', 'Dell', 'Hp', 'Apple']

### Q19. Copy the list 2 times and append it in the same list

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [1]:
# Solution

my_list = ["Bosche","Dell","Cognizant","Apple"]
my_list = my_list*3
my_list

['Bosche',
 'Dell',
 'Cognizant',
 'Apple',
 'Bosche',
 'Dell',
 'Cognizant',
 'Apple',
 'Bosche',
 'Dell',
 'Cognizant',
 'Apple']

### Q20. Reverse the order of elements in given list

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]
````

In [43]:
# Solution

my_list = ["Bosche","Dell","Cognizant","Apple"]
my_list.reverse()
my_list

['Apple', 'Cognizant', 'Dell', 'Bosche']

### Q21. Create a list which contains every 2nd character from all the elements of the list

````
# Inputs
my_list=["Bosche","Dell","Cognizant","Apple"]

# Output
['Bsh', 'Dl', 'Cgiat', 'Ape']
````

In [44]:
# Solution

my_list = ["Bosche","Dell","Cognizant","Apple"]
new_list = [x[::2] for x in my_list]
new_list

['Bsh', 'Dl', 'Cgiat', 'Ape']

### Q22. Add a new key to a dictionary

````
# Inputs
my_dict = {'a' : 1, 'b' : 2}

Sample Dictionary : {a: 1, b: 2}


# Output
Expected Result : {a: 1, b: 2, c: 3}

````

In [46]:
# Solution

my_dict = {'a' : 1, 'b' : 2}
my_dict.update({'c' : 3})
my_dict

{'a': 1, 'b': 2, 'c': 3}

### Q23. Check whether the last digit of a number is divisible by 3 or not.

````
# Inputs
num = 552
````

In [47]:
# Solution

num = 552

ld=num%10
if ld%3==0:
     print("Last digit of number is divisible by 3 ")
else:
     print("Last digit of number is not divisible by 3 ")

Last digit of number is not divisible by 3

### Q24. Calculate the sum of all numbers from 1 to a given number num

````
# Inputs
num = 12
````

In [50]:
# Solution
num = 12

s = 0
for i in range(1, num + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Sum is:  78

### Q25. Print letters in a string line by line using while loop

````
# Input
str1="Hello world"
````

In [51]:
# Solution

str1="Hello world"

i=0
while i!=len(str1):
    print(str1[i])
    i=i+1

H
e
l
l
o

w
o
r
l
d